 /* Style Definitions */

p
{
	margin-top: 1em;
	text-indent: 0em
}

li {
  margin-bottom: .5em;
}

.pagebreak
{
	page-break-before: always;
}

.centered
{
	text-align: center;
}

.bottom
{
	vertical-align: text-bottom;
}

.tablehead
{
	text-align: center;
	font-weight: bold
}

h1, h2, h3, h4 {margin-top: 1em }

<style>
.level1 { margin-left: 1em}
.level1items { margin-left: 2em}
</style>

div#bookToc ul#docnavsidebar li.level1items a, li.level2items, li.level3items {
    font-size: 1em;
}

inspector-stylesheet:1
div#bookToc ul#docnavsidebar > li {
    list-style-type: none;
}

div#bookToc li.level1 a, div#bookToc li.level2 a, div#bookToc li.level3 a {
font-size: 1.2em;
}
